<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- All of these commands must be changed in this file before build. No functionality was implemented to change these variables while the server is running -->
    <add key="DebugMode" value="False"/>
    <add key="ProcessEmptyWorld" value="False"/> <!-- NPCs, janitor and other timers pause when a map is empty -->
    <add key="ServerVersion" value="2.5"/>
    <add key="ClientVersion" value="1.7.16"/> <!-- MonoGame Yuusha (official Dragon's Spine client) began at v1.5 -->
    <add key="ServerName" value="Your Server DNS"/>
    <add key="ServerPort" value="3000"/>
    <add key="ServerNews" value="Type news here."/>
    <add key="MasterRoundInterval" value="3000"/> <!-- 3 seconds -->
    <add key="DefaultProtocol" value="Kesmai"/> <!-- KT52 Telnet protocol with ANSI color graphics -->
    <add key="ClearStores" value="False"/> <!-- Clear stores/shops on every server restart - there is also a developer command to accomplish this immediately -->
    <add key="RestockStores" value="True"/> <!-- Restock stores/shops on every server restart - there is also a developer command to accomplish this immediately -->
    <add key="ColorLog" value="False"/> <!-- Log has ANSI color codes for review in TELNET -->
    <add key="RequireMakeRecallReagent" value="False"/> <!-- Thief Make Recall Ring requires gold ring to cast -->
    <add key="DisplayCombatDamage" value="True"/> <!-- Option to display combat damage "displaycombatdamage" command is enabled -->
    <add key="DisplayDamageShield" value="True"/> <!-- Option to display shield damage (from Ravager spell flameshield and Druid/Ranger thornshield command is enabled -->
    <add key="UnderworldEnabled" value="False"/> <!-- Characters may choose to enter the UW to regain lost skills or lost stats, also sent directly to UW after being eaten -->
    <add key="HellEnabled" value="True"/> <!-- Is Hell accessible (as of v2.5 only accessible via wizard's Chaos Portal spell -->
    <add key="NPCSkillGain" value="True"/> <!-- Do NPCs gain skill when they survive in the environment -->
    <add key="AllowMultiIP" value="True"/> <!-- Accounts may log in with multiple IP addresses -->
    <add key="SkillLossOverTime" value="True"/> <!-- Skill loss over time from aging and playing without progressing a skill -->
    <add key="DisplayPetDamage" value="True"/> <!-- Option to display pet damage "displaypetdamage" command is enabled -->
    <add key="PetKillsGrantExperience" value="True"/> <!-- Do pet kills grant their owner experience -->
    <add key="AcceleratedExperienceGain" value="False"/> <!-- For special events or testing purposes, see accelerated modifiers below -->
    <add key="AcceleratedSkillGain" value="False"/> <!-- See accelerated modifiers below -->
    <add key="AcceleratedExperienceGainMultiplier" value="2.6"/>
    <add key="AcceleratedSkillGainMultiplier" value="2.4"/>
    <add key="AcceleratedLairRespawn" value=".5"/> <!-- Divisor to cause lair creatures to respawn faster/slower -->
    <add key="DisconnectSamePlayerUponLogin" value="True"/> <!-- Disconnect a player logging in without waiting for natural timeout -->
    <add key="GroupNPCSpawningEnabled" value="True"/> <!-- Can NPCs spawn as groups, or will all NPCs spawn as single entities -->
    <add key="NPCTalentsEnabled" value="True"/> <!-- Do NPCs have access to the same GameTalents as players, according to logic hardcoded in entitiy creation -->
    <add key="MaxAdventurersPerMap" value="1"/> <!-- Adventurers are clones players, given new names, that roam the world and have much higher AI performance -->
    <add key="AdventurersEnabled" value="False"/>
    <add key="RestartCommand" value="yourchoice"/> <!-- You can restart the server from the login prompt with this value. -->
    <add key="DetailedCombatLogging" value="False"/> <!-- Disabled after adding DPS Calculator class. Perhaps this information could've been parsed -->
    <add key="DetailedSpellLogging" value="False"/> <!-- Disabled after adding DPS Calculator class. Perhaps this information could've been parsed -->
    <add key="DetailedSkillLogging" value="False"/>
    <add key="DetailedLootLogging" value="False"/> <!-- If false, only loot warnings and major errors are logged. -->
    <add key="LootPercentageModifier" value="0"/> <!-- Added (can be negative, keep in mind UltraRare is set to 1% in hard code) to base loot chance percentages -->
    <add key="LotteryEnabled" value="False"/> <!-- Non-UW lands (UW incl. Praetoseba, Hell and Eridu) stores a percentage of coin value of janitor collected items in the DB for a lucky winner -->
    <add key="DetailedNPCDisplayLogging" value="False"/> <!-- Record all information an NPC sees that a player normally sees to the logs directory - useful for debugging -->
    
  <!-- uncomment the appropriate SQL connection below or add your own.-->
  <!--  add key="SQLConnection" value="User ID='yourchoice';Password='yourchoice';Initial Catalog='yourchoice';Data Source='yourchoice';Connect Timeout=15"/> -->
  </appSettings>
  
  <runtime>
    <gcServer enabled="True"/>
    <disableCachingBindingFailures enabled="1"/>
  </runtime>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
